.btn
    display: flex
    justify-content: center
    align-items: center
    border: 1px solid #FFDE00
    border-radius: 4px
    background: white
    &:hover
        background: #FFDE00
    &_yellow
        background: #FFDE00
        &:hover
            box-shadow: none
    &__link
        white-space: nowrap
        text-decoration: none
